doctype html
html(lang="en")
	head
	body 
		.footer_wrapper
			footer
				.footer_description
					.footer_img
						img(src='../main/img/logo.png')
					.footer_item.
						2016 / Все права защищены
					.footer_item.
						Политика конфиденциальности
					.footer_phone
						<i class="fa fa-phone" aria-hidden="true"></i>
							.footer_phone.
								+7 (495) 12-321-345 <br>
								+7 (495) 12-321-345