doctype html
html(lang="en")
	head
	body 
		.nav_wrapper
			nav
				.nav_img
					img(src='../main/img/logo.png')
				.burger_wrapper
					.burger 
						span
				ul.nav_items
					li(class='ul_item')
						a(href='../main/index.html') Главная
					li(class='ul_item') 
						a(href='../contact/contact.html') Контакты
					li(class='ul_item') 
						a(href='../build/build.html') Строительство
					li(class='ul_item') 
						a(href='../about/about.html') О нас
					li(class='ul_item')
						<i class="fa fa-phone" aria-hidden="true"></i>
						.nav_phone.
							+7 (495) 12-321-345 <br>
							+7 (495) 12-321-345
						


